// size
$zero: 0px;
$small-phone: 320px;
$middle-phone: 375px;
$big-phone: 425px;
$tablet: 768px;
$labtop: 1024px;
$desktop: 1440px;

@mixin transition() {
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}

.coins-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .coins-table {
    .coins-thead {
      width: 100%;

      .coins-tr {
        width: 100%;
        display: flex;

        .coins-th {
          font-weight: 300;
          cursor: pointer;
          @include transition();
        }

        .coins-symbol:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-money-usd:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-market-cap:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-money-usd:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-money-krw:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-day-volume-krw:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-day-volume-usd:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-hour-percent:hover {
          background-color: rgb(241, 241, 241);
        }
        .coins-day-percent:hover {
          background-color: rgb(241, 241, 241);
        }
      }
    }

    .coins-tbody {
      width: 100%;

      .coins-tr {
        @include transition();
        width: 100%;
        display: flex;
        cursor: pointer;
      }

      .coins-tr:hover {
        background-color: rgb(241, 241, 241);
      }
    }

    @media screen and (min-width: $zero) and (max-width: $small-phone) {
      width: 100%;

      padding: {
        top: 2rem;
        bottom: 1rem;
      }

      .coins-thead {
        .coins-tr {
          .coins-th {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 0rem;
              left: 0rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 0rem;
              left: 0rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-usd {
            padding: {
              left: 0rem;
              right: 0rem;
            }
            text-align: end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $small-phone + 1px) and (max-width: $middle-phone) {
      width: 100%;

      padding: {
        top: 2rem;
        bottom: 1rem;
      }

      .coins-thead {
        .coins-tr {
          .coins-th {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 0.5rem;
              left: 0.5rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-usd {
            padding: {
              left: 0rem;
              right: 0rem;
            }
            text-align: end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $middle-phone + 1px) and (max-width: $big-phone) {
      width: 100%;

      padding: {
        top: 2rem;
        bottom: 1rem;
      }

      .coins-thead {
        .coins-tr {
          display: flex;

          .coins-th {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            display: none;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $big-phone + 1px) and (max-width: $tablet) {
      width: 100%;
      padding-top: 2rem;

      .coins-thead {
        .coins-tr {
          display: flex;

          .coins-th {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0.1rem;
              left: 0.1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            align-items: flex-start;
          }

          .coins-market-cap {
            align-items: flex-end;
          }

          .coins-money-usd {
            align-items: flex-end;
          }

          .coins-day-percent {
            align-items: flex-end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0.1rem;
              left: 0.1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            text-align: right;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $tablet + 1px) and (max-width: $labtop) {
      width: 720px;
      padding-top: 2rem;

      .coins-thead {
        .coins-tr {
          .coins-th {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            font-size: 1rem;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0rem;
              left: 0rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            align-items: flex-start;
          }

          .coins-market-cap {
            align-items: flex-end;
          }

          .coins-money-usd {
            align-items: flex-end;
          }

          .coins-day-percent {
            align-items: flex-end;
          }

          .coins-day-volume-usd {
            align-items: flex-end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0.5rem;
              left: 0.5rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            text-align: right;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-day-volume-usd {
            text-align: right;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $labtop + 1px) and (max-width: $desktop) {
      width: 900px;
      padding-top: 2rem;

      .coins-thead {
        .coins-tr {
          .coins-th {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            font-size: 1.1rem;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0.5rem;
              left: 0.5rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            align-items: flex-start;
          }

          .coins-market-cap {
            align-items: flex-end;
          }

          .coins-money-usd {
            align-items: flex-end;
          }

          .coins-money-krw {
            align-items: flex-end;
          }

          .coins-day-percent {
            align-items: flex-end;
          }

          .coins-day-volume-usd {
            align-items: flex-end;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1.1rem;
            text-align: center;

            padding: {
              top: 1.5rem;
              bottom: 1.5rem;
              right: 0.5rem;
              left: 0.5rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            text-align: right;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-money-krw {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-day-volume-usd {
            text-align: right;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $desktop + 1px) {
      width: 1050px;
      padding-top: 2rem;

      .coins-thead {
        .coins-tr {
          .coins-th {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 1;
            font-size: 1.1rem;

            padding: {
              top: 2rem;
              bottom: 2rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            align-items: flex-start;
          }

          .coins-market-cap {
            align-items: flex-end;
          }

          .coins-money-usd {
            align-items: flex-end;
          }

          .coins-money-krw {
            align-items: flex-end;
          }

          .coins-day-percent {
            align-items: flex-end;
          }

          .coins-day-volume-usd {
            align-items: flex-end;
          }

          .coins-hour-percent {
            align-items: flex-end;
          }

          .coins-day-volume-krw {
            display: none;
          }
        }
      }

      .coins-tbody {
        .coins-tr {
          .coins-td {
            flex: 1;
            font-size: 1.1rem;
            text-align: center;

            padding: {
              top: 2rem;
              bottom: 2rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-symbol {
            text-align: left;
          }

          .coins-market-cap {
            text-align: right;
          }

          .coins-money-usd {
            text-align: right;
          }

          .coins-money-krw {
            text-align: right;
          }

          .coins-day-percent {
            text-align: right;
          }

          .coins-day-volume-usd {
            text-align: right;
          }

          .coins-hour-percent {
            text-align: right;
          }

          .coins-day-volume-krw {
            display: none;
          }
        }
      }
    }
  }

  .show-more-button {
    text-align: center;
    outline: none;
    border: none;
    background-color: #e0e0e0;
    box-shadow: 3px 3px 3px #9b9b9b;

    &:hover {
      background-color: #f7f7f7;
    }

    &:active {
      transform: translateY(4px);
    }

    @media screen and (min-width: $zero) and (max-width: $small-phone) {
      width: 70%;
      padding: 1rem;

      margin: {
        top: 1rem;
        bottom: 1rem;
      }
      font-size: 1.3rem;
    }

    @media screen and (min-width: $small-phone + 1px) and (max-width: $middle-phone) {
      width: 70%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }

    @media screen and (min-width: $middle-phone + 1px) and (max-width: $big-phone) {
      width: 70%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }

    @media screen and (min-width: $big-phone + 1px) and (max-width: $tablet) {
      width: 40%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }

    @media screen and (min-width: $tablet + 1px) and (max-width: $labtop) {
      width: 50%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }

    @media screen and (min-width: $labtop + 1px) and (max-width: $desktop) {
      width: 50%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }

    @media screen and (min-width: $desktop + 1px) {
      width: 50%;
      padding: 1rem;

      margin: {
        top: 1.5rem;
        bottom: 1rem;
      }
      font-size: 1.5rem;
    }
  }
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.selected {
  @include transition();
  font: {
    size: 1.2rem;
    weight: bold;
  }
}
