// size
$zero: 0px;
$small-phone: 320px;
$middle-phone: 375px;
$big-phone: 425px;
$tablet: 768px;
$labtop: 1024px;
$desktop: 1440px;

.coins-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .coins-table {
    @media screen and (min-width: $zero) and (max-width: $small-phone) {
      width: 100%;
      padding-top: 2rem;

      .coins-thead {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-th {
            flex: 1;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-td {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-usd {
            text-align: end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $small-phone + 1px) and (max-width: $middle-phone) {
      width: 100%;
      padding-top: 2rem;

      .coins-thead {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-th {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-td {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-usd {
            padding-right: 1.5rem;
            text-align: end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $middle-phone + 1px) and (max-width: $big-phone) {
      width: 100%;
      padding-top: 2rem;

      .coins-thead {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-th {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }

      .coins-tbody {
        width: 100%;

        .coins-tr {
          width: 100%;
          display: flex;

          .coins-td {
            flex: 1;
            font-size: 1rem;
            text-align: center;

            padding: {
              top: 1rem;
              bottom: 1rem;
              right: 1rem;
              left: 1rem;
            }

            border: {
              top: 1px solid black;
              bottom: 1px solid black;
            }
          }

          .coins-money-usd {
            padding-right: 2rem;
            text-align: end;
          }

          .coins-money-krw {
            display: none;
          }

          .coins-day-volume-krw {
            display: none;
          }

          .coins-day-volume-usd {
            display: none;
          }

          .coins-hour-percent {
            display: none;
          }
        }
      }
    }

    @media screen and (min-width: $big-phone + 1px) and (max-width: $tablet) {
    }

    @media screen and (min-width: $tablet + 1px) and (max-width: $labtop) {
    }

    @media screen and (min-width: $labtop + 1px) and (max-width: $desktop) {
    }

    @media screen and (min-width: $desktop + 1px) {
    }
  }

  .show-more-button {
    text-align: center;
    outline: none;
    border: none;
    background-color: #fafafa;
    box-shadow: 3px 3px 3px #dbdddb;

    &:hover {
      background-color: #f7f7f7;
    }

    &:active {
      transform: translateY(4px);
    }

    @media screen and (min-width: $zero) and (max-width: $small-phone) {
      width: 70%;
      padding: 1rem;

      margin: {
        top: 1rem;
        bottom: 1rem;
      }
      font-size: 1.3rem;
    }

    @media screen and (min-width: $small-phone + 1px) and (max-width: $middle-phone) {
      width: 70%;

      margin: {
        top: 1rem;
        bottom: 1rem;
      }
      font-size: 1rem;
    }

    @media screen and (min-width: $middle-phone + 1px) and (max-width: $big-phone) {
      width: 70%;
    }

    @media screen and (min-width: $big-phone + 1px) and (max-width: $tablet) {
      width: 70%;
    }

    @media screen and (min-width: $tablet + 1px) and (max-width: $labtop) {
      width: 70%;
    }

    @media screen and (min-width: $labtop + 1px) and (max-width: $desktop) {
      width: 70%;
    }

    @media screen and (min-width: $desktop + 1px) {
      width: 70%;
    }
  }
}

.red {
  color: red;
}

.blue {
  color: blue;
}
