<div class="coins-container">
  <table class="coins-table">
    <thead class="coins-thead">
      <tr class="coins-tr">
        <th class="coins-th coins-symbol"><span>Symbol</span></th>
        <th class="coins-th coins-market-cap"><span>Market Cap $</span></th>
        <th class="coins-th coins-money-usd"><span>Currnet $</span></th>
        <th class="coins-th coins-money-krw"><span>Current W</span></th>
        <th class="coins-th coins-day-volume-usd"><span>Day Volume $</span></th>
        <th class="coins-th coins-day-volume-krw"><span>Day Volume W</span></th>
        <th class="coins-th coins-hour-percent"><span>Hour Per</span></th>
        <th class="coins-th coins-day-percent"><span>Day Per</span></th>
      </tr>
    </thead>
    <tbody class="coins-tbody">
      <tr class="coins-tr" *ngFor="let coin of store.sortedCoinData" (click)="store.goToSomeWhere('/coins/' + coin.symbol)">
        <td class="coins-td coins-symbol">
          {{ coin.symbol }}
        </td>
        <td class="coins-td coins-market-cap">
          {{ [coin.quotes.USD.market_cap, 0] | comaToNumber }}
        </td>
        <td class="coins-td coins-money-usd" [ngClass]="coin.quotes.USD.percent_change_24h | changeToColor">
          {{ [coin.quotes.USD.price, 4] | comaToNumber }}
        </td>
        <td class="coins-td coins-money-krw" [ngClass]="coin.quotes.KRW.percent_change_24h | changeToColor">
          {{ [coin.quotes.KRW.price, 1] | comaToNumber }}
        </td>
        <td class="coins-td coins-day-volume-usd" [ngClass]="coin.quotes.USD.percent_change_24h | changeToColor">
          {{ [coin.quotes.USD.volume_24h, 0] | comaToNumber }}
        </td>
        <td class="coins-td coins-day-volume-krw">
          {{ [coin.quotes.KRW.volume_24h, 0] | comaToNumber }}
        </td>
        <td class="coins-td coins-hour-percent" [ngClass]="coin.quotes.USD.percent_change_1h | changeToColor">
          {{ coin.quotes.USD.percent_change_1h }} %
        </td>
        <td class="coins-td coins-day-percent" [ngClass]="coin.quotes.USD.percent_change_24h | changeToColor">
          {{ coin.quotes.USD.percent_change_24h }} %
        </td>
      </tr>
    </tbody>
  </table>
  <!-- Loading spinner -->
  <app-loading-spinner *ngIf="store.pending === true"></app-loading-spinner>
  <button class="show-more-button" [disabled]="!store.showMoreButton" (click)="store.loadCoinData()">
    {{ !store.showMoreButton ? 'No Coins!' : 'Load More...' }}
  </button>
</div>