<div class="selected-container">
  <app-loading-spinner *ngIf="store.selectedCoinPending" class="loading-bar"></app-loading-spinner>

  <div *ngIf="!store.selectedCoinPending && !store.selectedCoinInfo" class="selected-no-data">
    <h1>{{ store.selectedCoinSymbol }} does not exist !</h1>
  </div>
  <div *ngIf="!store.selectedCoinPending && store.selectedCoinInfo" class="selected-model">
    <div class="selected-info">
      <div class="selected-subject">
        <div class="selected-symbol-image">
          <div class="selected-symbol">
            <span class="selected-symbol-h1">{{ store.selectedCoinSymbol }}</span>
            <span class="selected-symbol-h3">{{ store.selectedCoinInfo.Data.CoinInfo.FullName }}</span>
          </div>
          <!-- <img src="https://github.com/cjdowner/cryptocurrency-icons/blob/master/32@2x/icon/{{ store.selectedCoinSymbol.toLowerCase() }}@2x.png?raw=true"
            onerror="this.src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png'" /> -->
          <!-- <img src="https://github.com/atomiclabs/cryptocurrency-icons/blob/master/svg/color/{{ store.selectedCoinSymbol.toLowerCase() }}.svg?raw=true"
            onerror="this.src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png'" /> -->
          <!-- <img [src]="('https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg' | svgPipe) | async"> -->
          <!-- <img> {{ [('https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg' | svgPipe)
          | async] }} -->
          <!-- <object data="{{ 'https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg' | svgPipe }}"></object> -->
          <!-- <img class="temp-img " src="https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg "> -->




          <!-- <div class="selected-logo" [innerHTML]="('https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg' | svgPipe) | async"></div> -->
          <!-- <object [data]="('https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/btc.svg' | svgPipe) | async"
            type="image/svg+xml"></object> -->
          <img [src]="('https://raw.githubusercontent.com/atomiclabs/cryptocurrency-icons/master/svg/color/' + store.selectedCoinSymbol.toLowerCase() + '.svg' | svg) | async"
            onerror="this.src='https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png'">
        </div>
      </div>
      <div class="selected-profile-logo ">
        <span>Coin Info</span>
      </div>
      <div class="selected-profile ">
        <div class="selected-profile-name ">
          <span>Algorithm</span>
          <span>Proof Type</span>
          <span>Block Number</span>
          <span>Block Reward</span>
          <span>Block Time</span>
          <span>Total Coins Mined</span>
        </div>
        <div class="selected-profile-value ">
          <span>{{ store.selectedCoinInfo.Data.CoinInfo.Algorithm }}</span>
          <span>{{ store.selectedCoinInfo.Data.CoinInfo.ProofType }}</span>
          <span>{{ [store.selectedCoinInfo.Data.CoinInfo.BlockNumber, 0] | comaToNumber }}</span>
          <span>{{ [store.selectedCoinInfo.Data.CoinInfo.BlockReward, 2] | comaToNumber }}</span>
          <span>{{ [store.selectedCoinInfo.Data.CoinInfo.BlockTime, 0] | comaToNumber }}</span>
          <span>{{ [store.selectedCoinInfo.Data.CoinInfo.TotalCoinsMined, 0] | comaToNumber }}</span>
        </div>
      </div>
    </div>

    <div class="selected-data">
      <div class="selected-data-logo">
        <span>Current {{ store.selectedCoinSymbol }} Prics</span>
      </div>
      <div class="selected-data-form" *ngFor="let select of store.selectedCoinData">
        <div class="selected-data-symbol">
          <span>{{ store.selectedCoinSymbol }}/{{ select.Data.AggregatedData.TOSYMBOL }} Prices</span>
        </div>
        <table class="selected-data-exchanges">
          <thead class="selected-data-exchange-head">
            <tr class="selected-data-exchange-tr">
              <th class="selected-data-exchange-market">Market</th>
              <th class="selected-data-exchange-price">Price</th>
              <th class="selected-data-exchange-price-high">High Price</th>
              <th class="selected-data-exchange-price-low">Low Price</th>
              <th class="selected-data-exchange-change">Change</th>
              <th class="selected-data-exchange-day-per">Day Per</th>
            </tr>
          </thead>
          <tbody class="selected-data-exchange-body">
            <tr class="selected-data-exchange-tr" *ngFor="let exchange of select.Data.Exchanges" [ngClass]="exchange.CHANGE24HOUR | changeToColor">
              <td class="selected-data-exchange-market">{{ exchange.MARKET }}</td>
              <td class="selected-data-exchange-price">{{ [exchange.PRICE, (select.Data.AggregatedData.TOSYMBOL === 'BTC'
                ? 7 : select.Data.AggregatedData.TOSYMBOL === 'KRW' ? exchange.PRICE > 10 ? 0 : 1 : 4)] | comaToNumber }}</td>
              <td class="selected-data-exchange-price-high">{{ [exchange.HIGH24HOUR, (select.Data.AggregatedData.TOSYMBOL
                === 'BTC' ? 7 : select.Data.AggregatedData.TOSYMBOL === 'KRW' ? exchange.PRICE > 10 ? 0 : 1 : 4)] | comaToNumber
                }}
              </td>
              <td class="selected-data-exchange-price-low">{{ [exchange.LOW24HOUR, (select.Data.AggregatedData.TOSYMBOL ===
                'BTC' ? 7 : select.Data.AggregatedData.TOSYMBOL === 'KRW' ? exchange.PRICE > 10 ? 0 : 1 : 4)] | comaToNumber
                }}
              </td>
              <td class="selected-data-exchange-change">{{ [exchange.CHANGE24HOUR, (select.Data.AggregatedData.TOSYMBOL ===
                'BTC' ? 7 : select.Data.AggregatedData.TOSYMBOL === 'KRW' ? exchange.PRICE > 10 ? 0 : 1 : 4)] | comaToNumber
                }}
              </td>
              <td class="selected-data-exchange-day-per">{{ [exchange.OPEN24HOUR, exchange.PRICE] | percent }}%</td>
              <!-- <td class="selected-data-exchange-day-per">{{ (exchange.CHANGE24HOUR > 0 ? 100 - (exchange.OPEN24HOUR / exchange.PRICE
                * 100).toFixed(1) : exchange.CHANGE24HOUR
                < 0 ? (exchange.PRICE / exchange.OPEN24HOUR * 100).toFixed(1) : 0).toString() }}%</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>