// size
$zero: 0px;
$small-phone: 320px;
$middle-phone: 375px;
$big-phone: 425px;
$tablet: 768px;
$labtop: 1024px;
$desktop: 1440px;

.selected-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .selected-model {
    @media screen and (min-width: $zero) and (max-width: $small-phone) {
      width: 100%;

      .selected-subject {
        width: calc(100% - 2rem);
        padding: 1rem;

        .selected-symbol-image {
          width: 100%;
          display: flex;

          .selected-symbol {
            display: flex;
            flex-direction: column;
            flex: 1;

            .selected-symbol-h1 {
              padding: {
                top: 1rem;
                bottom: 1rem;
              }
              font: {
                size: 2rem;
                weight: bold;
              }
            }
            .selected-symbol-h3 {
              font: {
                size: 1.3em;
                weight: bold;
              }
            }
          }

          img {
            width: 100px;
            height: 100px;
          }
        }
      }

      .selected-profile-logo {
        width: calc(100% - 2rem);
        padding: {
          top: 1rem;
          bottom: 0.5rem;
          right: 1rem;
          left: 1rem;
        }
        font: {
          size: 1.1rem;
          weight: bold;
        }
      }

      .selected-profile {
        width: calc(100% - 2rem);
        display: flex;
        padding: {
          top: 0.5rem;
          bottom: 1rem;
          right: 1rem;
          left: 1rem;
        }
        line-height: 1.8rem;

        .selected-profile-name {
          flex: 1;
          display: flex;
          flex-direction: column;
        }
        .selected-profile-value {
          flex: 1;
          display: flex;
          flex-direction: column;
          span {
            text-align: right;
          }
        }
      }

      .selected-data {
        width: calc(100% - 2rem);
        display: flex;
        flex-direction: column;
        padding: 1rem;

        .selected-data-logo {
          width: calc(100% - 2rem);
          padding: {
            bottom: 0.5rem;
          }
          font: {
            size: 1.1rem;
            weight: bold;
          }
        }
      }
    }

    @media screen and (min-width: $small-phone + 1px) and (max-width: $middle-phone) {
      width: 100%;
    }

    @media screen and (min-width: $middle-phone + 1px) and (max-width: $big-phone) {
      width: 100%;
    }

    @media screen and (min-width: $big-phone + 1px) and (max-width: $tablet) {
      width: 100%;
    }

    @media screen and (min-width: $tablet + 1px) and (max-width: $labtop) {
      width: 720px;
    }

    @media screen and (min-width: $labtop + 1px) and (max-width: $desktop) {
      width: 900px;
    }

    @media screen and (min-width: $desktop + 1px) {
      width: 1050px;
    }
  }

  .loading-bar {
    width: 100%;
  }
}
