.main-container {
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-logo-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.main-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-image > img {
  -webkit-animation: blink 0.7s ease-in-out infinite alternate;
  -moz-animation: blink 0.7s ease-in-out infinite alternate;
  animation: blink 0.7s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* iphone SE */
/* very small mobie view */
/* Reactive font size */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  .main-logo {
    margin-top: 30vh;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 1.3rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 15%;
  }
}

/* iphone 6 7 8, galaxy S5 */
/* small mobie view */
/* Reactive font size */
@media only screen and (min-width: 321px) and (max-width: 375px) {
  .main-logo {
    margin-top: 30vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 1.45rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 15%;
  }
}

/* iphone 6+, 7+, 8+, galaxy Note, Nexus 5X */
/* large mobie view */
/* Reactive font size */
@media only screen and (min-width: 376px) and (max-width: 425px) {
  .main-logo {
    margin-top: 30vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 1.6rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 15%;
  }
}

/* tablet */
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .main-logo {
    margin-top: 30vh;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 2.5rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 7%;
  }
}

/* laptop */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* each post box */
  .main-logo {
    margin-top: 30vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 3rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 5%;
  }
}

/* default desktop */
@media only screen and (min-width: 1025px) and (max-width: 1680px) {
  /* each post box */
  .main-logo {
    margin-top: 30vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 4rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 5%;
  }
}

/* for 4K display */
@media only screen and (min-width: 1681px) {
  /* each post box */
  .main-logo {
    margin-top: 30vh;
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-logo > article {
    color: white;
    font-size: 6rem;
    font-family: AvenirNext-Bold;
  }

  .main-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-image > img {
    width: 7%;
  }
}